        .container {
            display: flex;
            background-color: rgb(255, 255, 255);
            justify-content: space-between;
        }
        .container div{
            height: 150px;
            width: 100px;
            flex-direction: column;
            background-color: green;
            border: 4px solid black;
        }       
        .container .c{
            gap: 10px;

            height: 150px;

            width: 900px;

            background-color: green;

            border: 4px solid black;
        }
        .container2 {
            display: flex;
            background-color: rgb(255, 255, 255);
            justify-content: space-between;
        }
        .container2 div{
            margin-top: 40px;
            height: 150px;
            width: 300px;
            background-color: green;
            border: 4px solid black;
        }
        .container2 .c1 {
            align-items: flex-start;
            height: 150px;
            width: 800px;
            flex-direction: column;
            background-color: green;
            border: 4px solid black;
        }
        .container2 .c2 {
            display: flex;
            flex-direction: column;
            align-items: center;
            height: 150px;
            width: 100px;
        }
        .container3{
            display: flex;
            background-color: rgb(255, 255, 255);
            justify-content: space-between;
        }
        .container3 div{
            margin-top: 40px;
            height: 150px;
            width: 300px;
            background-color: green;
            border: 4px solid black;
        }
        .container3 .c3 {
            flex-direction: column;
            align-items: flex-start;
            height: 150px;
            width: 100px;
        }
        .container3 .c4{
            align-items: flex-end;
            height: 150px;
            width: 800px;
            flex-direction: column;
            background-color: green;
            border: 4px solid black;
        }
        .container4 {
            display: flex;
            background-color: rgb(255, 255, 255);
            justify-content: space-between;
        }
        .container4 div{
            margin-top: 40px;
            height: 150px;
            width: 120px;
            background-color: green;
            border: 4px solid black;
        }
        .container4 .c5{
            align-items: flex-start;
            height: 150px;
            width: 300px;
        }
        .container4 .c6{
            align-items: center;
            height: 150px;
            width: 300px;
        }