body {
    background-color: azure;
}

p {
    text-align: right;
    color: rgb(0, 255, 42);
    text-transform: uppercase;
    background-color: rgb(230, 230, 230);
}

h1 {
    text-align: left;
    background-color: rgb(230, 230, 230);
    padding: 0.1px;
}
p.class1 {
    text-align: center;
    color: rgb(99, 102, 255);
    text-transform: uppercase;
    background-color: rgb(230, 230, 230);
}