body {
    background-color: azure;
}

p {
    text-align: right;
    color: rgb(0, 255, 42);
    text-transform: uppercase;
}

h1 {
    text-align: left;
    background-color: white;
    size: 70px;
}
p.class1 {
    text-align: center;
    color: brown;
    text-transform: uppercase;
}