.boxmodel {
    text-align: center;
    margin: 10%;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 2px, solid orangered;
    padding: 25px;
    padding-top: 30px;
    border-radius: 10px;
    width: 300px;
    height: 150px;
    box-sizing: border-box;
}